{% extends "base.twig" %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="page-title">{{ t.about_page.title }}</h1>

        {% if page %}
        <div class="prose">
            {{ page.content.rendered|raw }}
        </div>
        {% else %}
        <div class="prose">
            {% include 'content/about_' ~ lang ~ '.twig' %}
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}
